<div class="flex">
  <div class='mx-auto text-center'>
    <h2 class="heading">FAQ</h2>
    <div class="blurb text-left">
      <h3 class="subheading">Do I have to sleep in a tent?</h3>
      <p>By default, every ticket includes a bunk bed onsite at the venue, but you're welcome to BYO tent and camp instead. There are also plentiful camp sites & caravan parks located a short distance up the road, if you wish to stay offsite. We would suggest either <a href='https://www.discoveryholidayparks.com.au/caravan-parks/victoria/great-ocean-road-warrnambool'>Discovery Park Warrnambool</a> or the <a href='https://ladybayresort.com.au/our-resort-features/'>Lady Bay Hotel</a>.</p>
      <h3 class="subheading">Will there be internet access at the camp?</h3>
      <p>Yes, the camp site is located approx 1km from the Warrnambool CBD and will have 4G/5G internet access.</p>
      <h3 class="subheading">I'm under 18, can I come?<br>(or: I have kids who are under 18, can they come?)</h3>
      <p>Unfortunately, we can't accommodate unaccompanied minors, please look into meetups and workshops in your area. If a parent is attending then we may be able to make arrangements. Please contact us before purchasing your ticket.</p>
      <h3 class="subheading">I have complicated dietary requirements, will you be able to feed me?</h3>
      <p>We are committed to providing food and drinks to accommodate all attendees needs, just let us know your requirements during ticket purchase and we will make sure you are catered for. If you have severe allergies please include this information and bring along your EpiPen.</p>
      <h3 class="subheading">Do you offer opportunity/diversity tickets?</h3>
      <p>We do! If you identify as part of a group that is underrepresented in tech, you can apply for an <a target="_blank" href="#">opportunity ticket</a>. Opportunity tickets work exactly the same as regular ones.</p>
      <p>If you would like to help us extend the reach of these tickets, you can make a donation via the <a target="_blank" href="<% ticket_url %>">tickets page</a>.<p>
      <h3 class="subheading">Where did all these wonderful photos come from?</h3>
      <p>Photos from previous events are courtesy of <a href="https://www.flickr.com/photos/dylanfm/">DylanFM</a> and <a href="https://www.flickr.com/photos/macleod_merrin/">Merrin Macleod</a>.</p>
    </div>
  </div>
</div>
