<div class="feature_logo">
  NEW LOGO HERE
</div>

<div class="title">
  <h1 class="heading">
    October 18-21 2024<br>
    Warra Gnan Coastal Camp<br>
    Warrnambool, VIC
  </h1>
</div>

<div class="description content">
  <p>Ruby Retreat is a full weekend retreat for people interested in web development to gather and be awesome together. People attend for a variety of reasons: socializing, hacking, learning, teaching, gaming, and more. Though there is a focus on Ruby, we welcome anyone interested in programming or web technologies to join us.</p>
</div>

<div class="buy-tickets">
  <a class="button" id="buy_ticket" target="_blank" href="<%= ticket_url %>">Get your ticket →</a>
</div>
