<div class="flex">
  <div class="mx-auto">
    <h2 class="heading">Sponsors</h2>
    <div>Ruby Retreat couldn’t exist without the support of our sponsors. Interested in sponsoring part of Ruby Retreat? <a class="link" href="mailto:retreat@ruby.org.au">Get in touch</a>.</div>
    <div class="logos">
      TBD.
    </div>
    <div class="blurb">
      <%= image_tag 'rubyau-logo-large.png', :class => 'ruby-logo' %>
      <p>Ruby Retreat is a <a href="https://ruby.org.au/">Ruby Australia</a> event.<br/> For all enquiries contact <a class="link" href="mailto:retreat@ruby.org.au">retreat@ruby.org.au</a>.</p>
    </div>
  </div>
</div>
