<div class="flex">
  <div class="mx-auto">
    <h2 class="heading">Sponsors</h2>
    <div>Ruby Retreat couldn’t exist without the support of our sponsors. Interested in sponsoring part of Ruby Retreat? <a class="link" href="mailto:retreat@ruby.org.au">Get in touch</a>.</div>
    <section id="sponsors" class="full-width">
      <div class="content-grid">
        <div class="sponsors-list">
          <hr>
          <h3>Ruby sponsors</h3>
          <div class="sponsors-tier ruby-sponsors">
            <div class="sponsor-logo">
              <a href="https://www.hotdoc.com.au/" target="_blank">
                <img alt="HotDoc" src="/images/sponsors/2024/hotdoc.png">
              </a>
            </div>
          </div>
          <hr>
          <h3>Sapphire sponsors</h3>
          <div class="sponsors-tier sapphire-sponsors">
            <div class="sponsor-logo">
              <a href="https://assemblyfour.com/" target="_blank">
                <img alt="Assembly Four" src="/images/sponsors/2024/assembly-four.png">
              </a>
            </div>
          </div>
          <hr>
          <h3>Opal sponsors</h3>
          <div class="sponsors-tier opal-sponsors">
            <div class="sponsor-logo">
              <a href="https://reinteractive.com/" target="_blank">
                <img alt="reinteractive" src="/images/sponsors/2024/reinteractive.png">
              </a>
            </div>
          </div>
          <hr>
          <h3>Amber sponsors</h3>
          <div class="sponsors-tier amber-sponsors">
            <div class="sponsor-logo">
              <a href="https://www.lookahead.com.au/" target="_blank">
                <img alt="Lookahead" src="/images/sponsors/2024/lookahead.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="blurb">
      <%= image_tag 'rubyau-logo-large.png', :class => 'ruby-logo' %>
      <p>Ruby Retreat is a <a href="https://ruby.org.au/">Ruby Australia</a> event.<br/> For all enquiries contact <a class="link" href="mailto:retreat@ruby.org.au">retreat@ruby.org.au</a>.</p>
    </div>
  </div>
</div>
