<section class="py-16 bg-white">
  <div class="container mx-auto px-4">
    <div class="max-w-6xl mx-auto">
      <h2 class="text-3xl font-bold text-center text-emerald-900 mb-8">Our Amazing Sponsors</h2>
      <p class="text-center text-emerald-800 mb-12">Ruby Retreat couldn't exist without the support of our sponsors.
        Interested in sponsoring part of Ruby Retreat?
        <a class="text-emerald-800 hover:text-emerald-800 underline font-semibold" href="mailto:retreat@ruby.org.au">Get
          in touch</a>.</p>

      <!-- Current Sponsors -->
      <div class="text-center">
        <a href="https://assemblyfour.com/" target="_blank" class="hover:opacity-80 transition duration-300 inline-block">
          <img alt="Assembly Four" src="/images/sponsors/2025/assembly-four.png" class="max-h-24 block mx-auto mb-8">
        </a>
        <br>
        <a href="https://www.bluethumb.com.au/" target="_blank" class="hover:opacity-80 transition duration-300 mx-auto inline-block">
          <img alt="Bluethumb" src="/images/sponsors/2025/bluethumb.png" class="max-h-16 block mx-auto">
        </a>
      </div>
    </div>
  </div>
</section>
