<div class="block">
  <h2 class="heading">Venue</h2>
  <p><%= image_tag 'house.jpeg', alt: 'Warra Gnan Coastal Camp' %></p>
  <div class="content">
    <p><a target="_blank" href="https://maps.app.goo.gl/dqC2XaLUVQwCA1e56">
      Warra Gnan Coastal Camp,
      17 Stanley Street, Warrnambool, VIC, 3280 </a>
    </p>
    <p>The venue has rooms with bunks.</p>
  </div>
</div>
