<div class="flex">
  <div class="mx-auto text-center">
    <h2>Venue</h2>
    <%= image_tag 'house.jpeg', alt: 'Warra Gnan Coastal Camp', class: 'mx-auto my-4 rounded-lg' %>
    <div class="blurb">
      <p><a target="_blank" href="https://maps.app.goo.gl/dqC2XaLUVQwCA1e56">
        Warra Gnan Coastal Camp,
        17 Stanley Street, Warrnambool, VIC, 3280 </a>
      </p>

      <p>Located minutes from the beach and the town itself, Warra Gnan Coastal Camp has capacity for about 80 people.</p>

      <p>
        You will arrive at the venue by riding the train over from Melbourne, or by driving. We will provide more information on how to get there closer to the event.
    </div>
  </div>
</div>
