<div class="flex">
  <div class="mx-auto text-center">
    <h2>Transport</h2>
    <div class="blurb">
      <p>There is a VLine train from Melbourne        You will arrive at the venue by training over from Melbourne, or by driving. We will provide more information on how to get there closer to the event. </p>
    </div>
  </div>
</div>
