<div class="flex">
  <div class="mx-auto text-center">
    <h2>Transport</h2>
    <div class="blurb">
      <p>There is a VLine train from Melbourne        You will arrive at the venue by training over from Melbourne, or by driving. Here's what you need to know:
      <h3>To Warrnambool</h3>
      <p>Leaves Melbourne Southern Cross at 13:08<br>
      Arrives in Warrnambool at 16:56<be>
      Journey takes 3 hours 48 minutes</p>
      
      <h3>Back to Melbourne</h3>
      <p>Leaves Warrnambool at 12:07<br>
      Arrives at Melbourne Southern Cross at 15:55<br>
      Also 3 hours 48 minutes</p>
      
      <h3>Train Amenities</h3>
      <ul>
        <li>Refreshments available</li>
        <li>2 wheelchair spaces</li>
        <li>8 bicycle spaces</li>
      </ul>
      
      <h3>Important Notes</h3>
      <ul>
        <li>Your tickets are covered - no need to buy anything.</li>
        <li>Please arrive at the station 30 minutes early.</li>
        <li>Both trips are off-peak for a relaxed journey.</li>
        <li>Let us know if you need any special arrangements.</li>
      </ul>
    
    <p>We're looking forward to seeing everyone on the train. It'll be a great chance to catch up before we dive into the retreat!</p>
    </div>
  </div>
</div>
